<div class="content-wrapper">
   <section class="content-header">
        <h1>¡Bienvenido!</h1>
        <br>
        
   </section>
   <section class="content-body">
      <p class="">
         El laboratorio Genes SAS, quien realiza, practica y procesa las pruebas de paternidad o exámenes de ADN, le brinda a todos nuestros usuarios un servicio de alta calidad.  
         El laboratorio Genes SAS, brinda toda su experiencia, pasión y compromiso, a todos nuestros usuarios, esto nos ha llevado a especializarnos por más de 18 años en servicios de pruebas de paternidad o exámenes de ADN para determinar paternidad. Diariamente nos esmeramos en mejorar para ser de nuestro laboratorio Genes SAS, su mejor aliado, no dude en escribirnos responder cada una de sus dudas.
      </p>
   </section>
</div>