<div class="content-wrapper">
   <section class="content-header text-center">
        <h2 class="">¡Bienvenido!</h2>
      <p class="h3">
         El laboratorio Genes SAS, quien realiza, practica y procesa las pruebas de paternidad o exámenes de ADN, le brinda a todos nuestros usuarios un servicio de alta calidad.  
         El laboratorio Genes SAS, brinda toda su experiencia, pasión y compromiso, a todos nuestros usuarios, esto nos ha llevado a especializarnos por más de 18 años en servicios de pruebas de paternidad o exámenes de ADN para determinar paternidad. Diariamente nos esmeramos en mejorar para ser de nuestro laboratorio Genes SAS, su mejor aliado, no dude en escribirnos responder cada una de sus dudas.
      </p>

      <h2>Prueba de Consanguinidad</h2>
      <p class="h3">
         Estas pruebas de ADN son especiales para aquellos casos en los que no es posible establecer o realizar una prueba de paternidad biológica estándar por falta del presunto padre, ya sea por ausencia o muerte de este, por lo cual se debe investigar otra clase de vínculos biológicos entre los individuos. 
      </p>

      <h2>¡Prueba paternidad!</h2>
      <p class="h3">
         La Prueba de paternidad anónimas, es un cómodo y preciso proceso, que le permite tomar a usted, sus propias muestras de ADN, en el momento y en el lugar más apropiado. Este tipo de servicio solo pueden ser realizados por los presuntos padres o las madres del hijo, muchos de nuestros clientes buscan privacidad a la hora de la toma de las muestras de ADN y para lograr esto, el laboratorio Genes SAS, le proporcionara, un pequeño KIT, que contiene los insumos necesarios para la toma de las muestras de ADN. Es necesario resaltar, que este tipo de prueba de paternidad se denomina ¨ANONIMA¨, es decir, que solo le sirve para conocer su verdad científica; notificándole si es el padre biológico o no lo es.
      </p>
      <a href="https://mundogenetico.com/" class="h2 text-primary">¡visita nuestra pagina aqui!</a>
   </section>
</div>