<div class="content-wrapper">
  <!-- Contenido del encabezado -->
  <section class="content-header">
    <h1>
      PQRS
    </h1>
    <ol class="breadcrumb">
      <li><a href="/v1/inicio"><i class="fa fa-home"></i>Home</a></li>
    </ol>
  </section>
  <section class="content">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">

          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-info">
            Registrar PQRS
          </button>
        </h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                  title="Collapse">
            <i class="fa fa-minus"></i></button>
          <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
            <i class="fa fa-times"></i></button>
        </div>
      </div>

  <!-- Contenido principal  -->
  

    <div class="box">
      <div class="box-body">
        <div class="col-sm-12">
          <table id="example2" style="table-layout: fixed;" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
            <thead>
            <tr role="row">
            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
              Cedula
            </th>
            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">
              Nombre
            </th>
            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
                Descripcion
            </th>
            <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">
              Opciones
            </th>
          </tr>
            </thead>
          <tbody>
           <% datos.forEach((elements) => { %>
          <tr role="row" class="odd">
            <td style="word-wrap: break-word;"><%= elements.cedula %></td>
            <td style="word-wrap: break-word;"><%= elements.nombre_completo %></td>
            <td style="word-wrap: break-word;"><%= elements.descripcion %></td>
            <td>
                <a
                 class="btn btn-danger" onclick="confirmarpqrs(`<%= elements.id %>`);">
                <i class="fa fa-trash"></i>
                </a>
            </td>
          </tr>
          <% }) %>
          
        </table></div>
      </div>
  
  </section>
  <div class="modal modal-info fade" id="modal-info">
    <div class="modal-dialog">
      <div class="modal-content">
        <form name="formularioPQRS" id="formularioPQRS" action="pqrsSave" method="POST">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Ingrese PQRS</h4>
        </div>
        <div class="modal-body">
          <div class="input-group">
            <span class="input-group-addon">-</span>
            <input id="cedula" name="cedula" type="text" class="form-control" placeholder="Ingrese cedula" required>
          </div>
          <div class="input-group">
            <span class="input-group-addon">-</span>
            <input  id="nombre_completo" name="nombre_completo" type="text" class="form-control" placeholder="Ingrese nombre">
          </div>
          <div class="input-group">
            <span class="input-group-addon">-</span>
            <input id="descripcion" name="descripcion" type="text" class="form-control" placeholder="Ingrese descripcion">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cancelar</button>
          <button onclick="addPQRS()" type="submit" class="btn btn-outline">Guardar</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
<script>
  function confirmarpqrs (id){
    Swal.fire({
title: '¿Estas completamente seguro?',
text: "¿Quieres eliminar la PQRS?",
icon: 'warning',
showCancelButton: true,
confirmButtonColor: '#3085d6',
cancelButtonColor: '#d33',
confirmButtonText: '¡Si, eliminar!'
}).then((result) => {
if (result.isConfirmed) {
  window.location.href=`deletePqrs?id=${id}`
  Swal.fire(
    '¡Eliminado exitosamente!',
    'success'
  )
}
})
}

function addPQRS() {
  const form = document.querySelector("#formularioPQRS");
    form.addEventListener("submit", event => {
      event.preventDefault();
        Swal.fire({
        title: '¿Estas seguro de guardar la PQRS?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
            confirmButtonText: '¡Si, Guardar!'
}).then((result) => {
    if (result.isConfirmed) {
      form.submit();
        Swal.fire(
          '¡Guardado exitosamente!',
          'success')}
      })
      })
      }
</script>





        