<div class="content-wrapper">
    <!-- Contenido encabezado -->
    <section class="content-header">
        <h1>
            Editar laboratorio
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="/v1/inicio"><i class="fa fa-home">

                </i>
                    Home
                </a>
            </li>
        </ol>
    </section>

    <!-- Contenido Principal -->
    <section class="content">

        <!-- Default box -->
    <div class="box">
            <div class="box-body">
                <!-- Formulario editar laboratorio -->
                <form name="formularioLab" id="formularioLab" action="labeSave" method="post">
                    <div class="form-group has-success">
                        <label>ID</label>
                        <input type="text" class="form-control" value="<%= datos.id %>" name="id" class="form-control"
                            readonly>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input type="text" class="form-control" value="<%= datos.laboratory %>" name="laboratory"
                            placeholder="Usuario">
                    </div>
                    <div class="box-footer">
                        <!-- Boton guardar -->
                        <button class="btn btn-app" type="submit" onclick="actualizarLab()"></a>
                            <i class="fa fa-save"></i> Guardar
                        </button>
                        <!-- Boton cancelar -->
                        <a href="/viewlab/lab" class="btn btn-app">
                            <i class="fa fa-times"></i>
                            cancelar
                        </a>
                    </div>
                </form>
            </div>
    </div>
            <script>
                //ALERTA CONFIRMAR ACTUALIZACION DE DATOS
                function actualizarLab() {
                    const form = document.querySelector("#formularioLab");
                    form.addEventListener("submit", event => {
                        event.preventDefault();
                        Swal.fire({
                            title: '¿Estas seguro de guardar estos cambios?',
                            text: "Estas actualizando la información",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: '¡Si, actualizar!'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                form.submit();
                                Swal.fire(
                                    '¡Actualizado!',
                                    'success'
                                )
                            }
                        })

                    })
                }
           </script>
    </section> 
</div>